[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cython = "*"
nltk = "*"
whoosh = "*"
flask = "*"
"94cd631" = {path = "./fastText"}

[dev-packages]

[requires]
python_version = "3.6"
